Matched Groups:
{{#groups}}
{{name}} ({{path}}): {{#files}}{{.}} {{/files}}
{{/groups}}

Each file glob passed in creates a new file group. Each group has a name, path and files property. Reference specific file groups by their name which is 'group' followed by the group number. So 'group1' for the first group etc.

So the first group's path glob is -> {{group1.path}}
And the files matching it are:
{{#group1.files}}
	{{.}}
{{/group1.files}}

{{#props}}Properties{{/props}}
{{props}}